.button {
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: $text-color-light;
    background: $background-color-dark;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}