.form {
    position: relative;
    max-width: 100%;
    padding: 0 6.25%;
    .form-block {
        @include form-block-sm();
        .form-block__header-block {
            @include form-block__header-block-sm();
        }
        @import "text-field";
        @import "checkbox-field";
        @import "numerator";
        @import "tourist";
        @media (max-width: $screen-md) {
            .screen-md {
                display: none;
            }
        }
    }
    .form-block:nth-of-type(6) {
        position: relative;
        
        @import "gallery";
        @import "form-message";
    }
}

@import "button";

@media (min-width: $screen-md) {
    .form {
        padding: 0 7.8%;
        .form-block {
            @include form-block-md();
            .form-block__header-block {
                @include form-block__header-block-md();
                p {
                    @include header-md();
                }
            }
        }
        .form-block__header-block:after {
            @include header-md-line();
        }
        .screen-sm {
            display: none;
        }
        .form-button {
            width: 71%;
            margin: 0 auto;
        }
        .form-block:nth-of-type(5) {
            .checkbox-field {
                width: 45%;
            }
            .form-block__header-block {
                order: -3;
                p {
                    display: block;
                    width: 360px;
                    padding: 0 20px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            .form-block__header-block:after {
                    top: -30px;   
                }
            .checkbox-field:nth-of-type(2) {
                order: -2;
                text-align: right;
            }
            .checkbox-field:nth-of-type(3) {
                text-align: right;
                label {
                    margin-right: 20px;
                }
            }
            .checkbox-field:nth-of-type(4) {
                order: -1;
            }
        }
        .form-block:nth-of-type(6) {
            display: block;
            .button-upload {
                width: 458px;
                margin: 0 auto;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .form {
        .form-block:nth-of-type(2) {
            justify-content: center;
            .checkbox-field:nth-of-type(2) {
                margin-right: 100px;
            }
        }
        .form-block:nth-of-type(5) {
            .checkbox-field {
                width: 20%;
                label {
                    margin-right: 0;
                }
            }
        }
        .form-button,
        .button-upload {
            width: 458px;
        }
    }
}