.gallery {
    width: 279px;
    height: 280px;
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    img {
        display: block;
        width: 70px;
        height: 70px;
        
        vertical-align: top;
        background: #a07973;
    }
    a {
        position: absolute;
        top: -15px;
        left: 20px;
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url("../img/sprite.png") no-repeat -15px -285px;
    }
    a:hover {
        background: url("../img/sprite.png") no-repeat -15px -405px;    
    }
    a:active {
        background: url("../img/sprite.png") no-repeat -15px -345px;    
    }
}

.gallery-image {
    position: relative;
}

@media (min-width: $screen-md) {
    .gallery {
        width: 550px;
        height: 350px;
        margin-top: 88px;
        img {
            width: 140px;
            height: 140px;
        }
        a {
            top: -30px;
            left: 110px;
            width: 60px;
            height: 60px;
            background: url("../img/sprite.png") no-repeat -15px -15px;
        }
        a:hover {
            background: url("../img/sprite.png") no-repeat -15px -195px;
        }
        a:active {
            background: url("../img/sprite.png") no-repeat -15px -105px;
        }
    }
    .gallery-image:last-of-type {
        display: none;
    }
}

@media (min-width: $screen-lg) {
    .gallery {
        width: 958px;
        .gallery-image:nth-of-type(6) {
            flex-basis: 100%;
        }
    }
}