.hotel-search {
    max-width: 100%;
    padding: 0 6%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.hotel-search__header {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.hotel-search__description {
    margin-top: 20px;
    margin-bottom: 35px;
    line-height: 24px;
    text-align: center;
}

@import "button";