.info {
    display: flex;
    justify-content: flex-start;
}

.info time,
.info p {
    position: relative;
    padding-left: 20px;
    font-style: italic;
    color: #999999;
}

.info p {
    margin-left: 10%;
}

.info time:before,
.info p:before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: url("../img/icon-time.png") no-repeat center;
}

.info p:before {
    background: url("../img/icon-flag.png") no-repeat center;
}