.main-image {
    position: relative;
    width: 100%;
    height: 390px;
    background: grey;
    z-index: -2;
}

.main-image:after {
    position: absolute;
    top: 363px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 27px;
    background:
        linear-gradient(189deg, transparent 52px, white 52px),
        linear-gradient(171deg, transparent 52px, white 52px);
}

.main-image:after {
    display: none;
}

.form-page,
.blog-page,
.post-page {
    .main-image {
        width: 100%;
        height: 214px;
        background: grey url("../img/welcome-image-inner.jpg") no-repeat;
    }
}

@media (min-width: $screen-md) {
    .main-image {
        height: 514px;
    }
    .form-page {
        .main-image {
            height: 330px;
        }
    }
}