.main-description {
    max-width: 100%;
    padding-top: 39px;
    padding-bottom: 28px;
    padding-left: 9%;
    padding-right: 9%;
    .main-descritpion__header {
        padding-bottom: 26px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
    }
    .main-description__text {
        line-height: 26px;
        text-align: center;
    }
}