@media (max-width: $screen-md) {
    .wrapper {
        position: absolute;
        top: 668px;
    }
}

.main-description {
    position: relative;
    max-width: 100%;
    padding-top: 39px;
    padding-bottom: 25px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    background: $background-color-light;
    .main-description__header {
        padding-bottom: 26px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
    }
    .main-description__text {
        line-height: 26px;
        text-align: center;
    }
}

.main-description:before {
    position: absolute;
    top: -36px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 37px;
    background: url("../img/photo-background-white.png") no-repeat center;
    background-size: 100% 100%;
}

.main-description:after {
    position: absolute;
    bottom: -17px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 37px;
    background: url("../img/reason-card-white.png") no-repeat center;
    background-size: 100% 100%;
}

.form-page {
    .main-description {
        padding-top: 70px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    .main-description__text {
        line-height: 24px;
    }
}

.blog-page {
    .main-description {
        position: relative;
        padding-top: 45px;
        padding-bottom: 30px;
        .main-description__header {
            font-size: 30px;
        }
        .main-description__text {
            line-height: 24px;
        }
    }
    .main-description:after {
    content: "";
    position: relative;
    top: 30px;
    display: block;
    height: 2px;
    background: #dbdbdb;
    }
}

.post-page {
    .main-description {
        position: relative;
        padding-top: 45px;
        padding-bottom: 0;
        .main-description__header {
            font-size: 30px;
        }
        .main-description__text {
            margin-bottom: 20px;
            line-height: 24px;
        }
    }
    @import "info";
    .info {
        padding-left: 10px;
        p {
            margin-left: 40px;
        }
    }
}

@media (min-width: $screen-md) {
    .main-description {
        position: static; 
    }
    .main-description:before,
    .main-description:after {
        display: none;
    }
    .index-page {
        .main-description {
            padding-top: 55px;
            padding-bottom: 52px;
        }
        .main-description__header {
            padding: 0 15%;
            font-size: 21px;
            margin-bottom: 28px;
        }
    }
    .form-page {
        .main-description {
            padding-top: 25px;
            padding-bottom: 65px;
            border-bottom: none;
        }
        .main-description__header {
            font-size: 30px;
        }
        .main-description__text {
            display: block;
            width: 445px;
            margin: 0 auto;
            line-height: 24px;
        }
    }
}