nav li:not(:nth-of-type(3)) {
    display: none;
    @keyframes bounce {
        0% {
            transform: translateY(200px);
            z-index: -5;
        }
        50% {
            transform: translateY(0);
        }
        100% {
            z-index: 1;
        }
    }
}

input:checked ~ nav li:not(:nth-of-type(3)) {
    display: block;
    animation: bounce 1s;
}