@mixin form-block-sm() {
    max-width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

@mixin form-block__header-block-sm() {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

@mixin form-block-md() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 65px;
    border-bottom: none;
}

@mixin form-block__header-block-md() {
    margin-bottom: 30px;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
}

@mixin header-md {
    position: relative;
    display: block;
    width: 360px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    background-color: #ffffff;
    z-index: 2;
}

@mixin header-md-line {
    position: relative;
    top: -15px;
    content: "";
    display: block;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}

@mixin red-star() {
    content: "\002A";
    display: inline-block;
    vertical-align: top;
    width: 5px;
    height: 5px;
    color: #ff1111;
}