nav {
    position: relative;
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    li {
        display: block;
        text-align: center;
        border-bottom: 1px solid $nav-border-color;
        box-shadow: 1px 0 0 0 white;
    }
    li:last-child {
        border-bottom: none;
    }
    a {
        display: block;
        margin: 0 auto;
        padding-top: 8px;
        padding-bottom: 7px;
        font-family: $font;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
        text-decoration: none;
        
    }
    @media (max-width: $screen-md) {
        li:nth-of-type(3) {
            position: relative;
            order: 4;
            padding-top: 8px;
            padding-bottom: 7px;
            height: 40px;
            background: $background-color-light;
            box-shadow: 0 -5px 2px -2px #6d97b1;
            border-bottom: none;
            a {
                position: absolute;
                top: 0;
                left: 50%;
                padding: 0;
                margin-left: -70px;
                width: 140px;
                height: 70px;
                background: none;
                .logo-triangle {
                    display: block;
                    position: absolute;
                    width: 140px;
                    height: 70px;
                    fill: #81b3d2;
                }
                .logo-sedona {
                    position: absolute;
                    left: 50%;
                    margin-left: -33.5px;
                    width: 67px;
                    height: 56px;
                }
            }
        }
        a {
            color: $text-color-light;
            background: $mobile-menu-item;
        }
        a:hover {
            background: $mobile-menu-item-hvr;
        }
        a:active {
            background: $mobile-menu-item-down;
            color: #88b6d1;
        }
        li:not(:nth-of-type(3)) {
            display: none;
        }
    }
}

@keyframes menu {
    0% {
        transform: translateY(230px);
        z-index: -5;
    }
    99% {
        transform: translateY(0);
        z-index: -5;
    }
    100% {
        z-index: 1;
    }
}

.menu-show {
    @media (max-width: $screen-md) {
        li:not(:nth-of-type(3)) {
            display: block;
            animation: menu 1s;
        }
        .page-header__toggle--open:before {
            display: none;
        }
    }
}

.page-header__toggle {
    display: none;
}

.page-header__toggle--close:before {
    content: "";
    position: absolute;
    top: 6%;
    right: 6%;
    display: block;
    width: 23px;
    height: 22px;
    background: url('../img/page-header-toggle-close.png') no-repeat center;
    cursor: pointer;
}

.page-header__toggle--open:before {
    content: "";
    position: absolute;
    top: 30%;
    right: 6%;
    display: block;
    width: 23px;
    height: 22px;
    background: url('../img/page-header-toggle-open.png') no-repeat center;
    cursor: pointer;
}

@media (min-width: $screen-md) {
    nav {
        ul {
            flex-direction: row;
        }
        li {
            width: 20%;
            padding: 0;
            background-color: $background-color-light;
            box-shadow: none;
            border-bottom: none;
        }
        li:nth-of-type(3) {
            position: relative;
            a {
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                padding: 0;
                margin-left: -70px;
                width: 140px;
                height: 70px;
                .logo-triangle {
                    display: block;
                    position: absolute;
                    width: 140px;
                    height: 70px;
                    fill: #81b3d2;
                }
                .logo-sedona {
                    position: absolute;
                    left: 50%;
                    margin-left: -33.5px;
                    width: 67px;
                    height: 56px;
                }
            }
        }
        a {
            padding: 15px 0;
            font-size: 14px;
            line-height: 26px;
            color: $main-menu;
        }
        a:hover {
            color: $main-menu-hvr;
        }
        a:active {
            color: $main-menu-down;
        }
        .main-navigation__item--active a {
            color: $main-menu-active;
        }
        .main-navigation__item--active a:hover {
            color: $main-menu-active-hvr;
        }
        .main-navigation__item--active a:active {
            color: $main-menu-active-down;
        }
    }
    .page-header__toggle--close:before,
    .page-header__toggle--open:before {
        display: none;
    }
}