.page-footer {
    max-width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
}

.form-page {
    .page-footer {
        margin-top: 75px;
    }
}

.footer-tag {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 37px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.footer-links {
    width: 150px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 40px;
    
}

.footer-links__item {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    margin-right: 2px;
    font-size: 0;
}

.footer-links__item:last-child {
    margin-right: 0;
}

.footer-links__item a {
    display: block;
    width: 46px;
    height: 48px;
}

.footer-links__item--tw {
    a {
        background: $social-background url("../img/sprite.png") no-repeat -2px -2088px;
    }
}

.footer-links__item--tw {
    a:hover {
        background: $social-background-hvr url("../img/sprite.png") no-repeat -2px -2088px;
    }
}

.footer-links__item--tw {
    a:active {
        background: $social-background-down url("../img/sprite.png") no-repeat -2px -2132px;
    }
}

.footer-links__item--fb {
    a {
        background: $social-background url("../img/sprite.png") 3px -1228px;
    }
}

.footer-links__item--fb {
    a:hover {
        background: $social-background-hvr url("../img/sprite.png") 3px -1228px;
    }
}

.footer-links__item--fb {
    a:active {
        background: $social-background-down url("../img/sprite.png") 3px -1276px;
    }
}

.footer-links__item--ytb {
    a {
        background: $social-background url("../img/sprite.png") -2px -2176px;
    }
}

.footer-links__item--ytb {
    a:hover {
        background: $social-background-hvr url("../img/sprite.png") -2px -2176px;
    }
}

.footer-links__item--ytb {
    a:active {
        background: $social-background-down url("../img/sprite.png") -2px -2220px;
    }
}

.footer-copyright {
    width: 134px;
    margin: 0 auto;
    margin-top: 35px;
}

.footer-copyright__description,
.footer-copyright__link {
    display: inline-block;
    vertical-align: middle;
}

.footer-copyright__link {
    width: 27px;
    height: 34px;
    margin-left: 8px;
    .htmlacademy {
        fill: $logo-color-main;
    }
    
}

.footer-copyright__link:hover {
    .htmlacademy {
        fill: $logo-color-hvr;
    }
}

.footer-copyright__link:active {
    .htmlacademy {
        fill: $logo-color-down;
    }
}

@media (min-width: $screen-md) {
    .page-footer {
        * {
            margin: 0;
            
        }
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 35px 0;
        .footer-tag {
            width: 33%;
            text-align: center;
        }
        .footer-links {
            width: 33%;
            text-align: center;
        }
        .footer-links__item {
            margin-right: 2px;
        }
        .footer-links__item:last-child {
            margin-right: 0;
        }
        .footer-copyright {
            width: 33%;
            text-align: center;
        }
    }
}