nav {
    position: relative;
    ul {
        list-style: none;
    }
    li {
        display: block;
        padding-top: 8px;
        padding-bottom: 7px;
        text-align: center;
        border-bottom: 1px solid $nav-border-color;
        box-shadow: 1px 0 0 0 white;
        background-color: $background-color-dark;
    }
    li:last-child {
        border-bottom: none;
    }
    a {
        display: block;
        margin: 0 auto;
        font-family: $font;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
        text-decoration: none;
        color: $text-color-light;
    }
}

.page-header__toggle {
    display: none;
}

.page-header__toggle--close:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 277px;
    display: block;
    width: 23px;
    height: 22px;
    background: url('../img/page-header-toggle-close.png') no-repeat center;
    cursor: pointer;
}

.page-header__logo-wrapper {
    position: relative;
    max-width: 100%;
    height: 56px;
    box-shadow: 0 -5px 2px -2px #6d97b1;
    img {
        position: relative;
        display: block;
        top: 0;
        margin: 0 auto;
    }
}

.form-page,
.blog-page,
.post-page {
    .page-header__logo-wrapper {
        position: relative;
        max-width: 100%;
        background: $background-color-light;
    }    
}

.page-header__toggle--open:before {
    content: "";
    position: absolute;
    top: 17px;
    left: 277px;
    display: block;
    width: 23px;
    height: 22px;
    background: url('../img/page-header-toggle-open.png') no-repeat center;
    cursor: pointer;
}

// Планшетная версия

@media (min-width: $screen-md) {
    nav {
        ul {
            display: flex;
        }
        li {
            width: 20%;
            padding: 15px 0;
            background-color: $background-color-light;
            box-shadow: none;
            border-bottom: none;
        }
        li:nth-of-type(3) {
            margin-left: 20%;
        }
        a {
            font-size: 14px;
            line-height: 26px;
            color: $text-color-dark;
        }
    }
    .page-header__toggle--close:before,
    .page-header__toggle--open:before {
        display: none;
    }
    .page-header__logo-wrapper {
        position: absolute;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        height: 56px;
        box-shadow: none;
    }
}