.promo {
    max-width: 100%;
    padding: 0 6%;
    padding-top: 30px;
    padding-bottom: 19px;
}

.promo-block__image,
.promo-block__header,
.promo-block__description {
    display: inline-block;
    vertical-align: middle;
}

.promo-block__image {
    width: 37px;
    height: 37px;
}

.promo-block__icon {
    fill: #84b5d3;
}

.promo-block__header {
    margin-left: 3.5%;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.promo-block:last-child {
    .promo-block__header {
        margin-left: 5%;
    }
}

.promo-block__description {
    margin-left: 18%;
    margin-top: 9px;
    margin-bottom: 16px;
}

@media (min-width: $screen-md) {
    .promo {
        max-width: 100%;
        display: flex;
        padding: 0;
        padding-bottom: 65px;
        margin: 0;
    }
    .promo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        max-width: 33%;
    }
    .promo-block__image,
    .promo-block__header,
    .promo-block__description {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .promo-block__header {
        margin: 20px 0;
        font-size: 21px;
    }
    .promo-block:nth-of-type(3) {
        .promo-block__header {
            margin-top: 18px;
        }
    }
    .promo-block__image {
        width: 75px;
        height: 76px;
        margin-top: 60px;
    }
    .promo-block:nth-of-type(3) {
        .promo-block__image {
            width: 65px;
            height: 78px;
        }
    }
    .promo-block__description {
        padding: 0 45px;
    }
    .promo-block:nth-of-type(2) {
        .promo-block__description {
            padding: 0 50px;
        }
    }
    .promo-block:nth-of-type(3) {
        .promo-block__description {
            padding: 0 40px;
        }
    }
} 