.promo {
    max-width: 100%;
    padding: 0 6%;
    padding-top: 30px;
    padding-bottom: 19px;
}

.promo-block__image,
.promo-block__header,
.promo-block__description {
    display: inline-block;
    vertical-align: middle;
}

.promo-block__header {
    margin-left: 3.5%;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.promo-block:last-child .promo-block__header {
    margin-left: 5%;
}

.promo-block__description {
    margin-left: 18%;
    margin-top: 9px;
    margin-bottom: 16px;
}