.reasons {
    width: 100%;
}

.reason-card {
    max-width: 100%;
    padding: 0 6%;
    padding-top: 40px;
    padding-bottom: 40px;
    .reason-card__header {
        margin: 0;
        margin-bottom: 9px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
    }
    .reason-card__number {
        margin-bottom: 15px;
        text-align: center;
    }
    .reason-card__number:before{
        content: "\2014 \00A0 \2116";
        display: inline-block;
        vertical-align: top;
    }
    .reason-card__number:after{
        content: "\2014";
        display: inline-block;
        vertical-align: top;
    }
    .reason-card__description {
        text-align: center;
    }
}

.reason-card--blue {
    color: $text-color-light;
    background: $background-color-dark;
}

.reasons__image {
    width: 100%;
    height: 256px;
}

.reasons__image--first {
    background: #9e795c url('../img/reasons-image-first.jpg') no-repeat 50% 0;
}

.reasons__image--second {
    background: #815139 url('../img/reasons-image-second.jpg') no-repeat 50% 0;
}

.reasons-bottom {
    .reason-card {
        position: relative;
        padding: 30px 0;
        padding-left: 6%;
        padding-right: 6%;
        .reason-card__header {
            margin: 0;
        }
        .reason-card__number {
            margin: 10px 0;
        }
    }
    .reason-card:after {
        content: "";
        position: relative;
        top: 30px;
        display: block;
        height: 1px;
        background: $reason-card-border-color;
    }
}

@media (min-width: $screen-md) {
    .reasons {
        display: flex;
    }
    .reasons:nth-of-type(1),
    .reasons:nth-of-type(3) {
        height: 256px;
        max-width: 100%;
    }
    .reason-card {
        width: 33%;
        padding-bottom: 45px;
        .reason-card__header {
            font-size: 21px;
        }
    }
    .reason-card__number {
        margin-bottom: 25px;
    }
    .reasons__image {
        min-width: 67%;
    }
    .reasons__image--second {
        order: -1;
    }
    .reasons:nth-of-type(4) {
        max-width: 100%;
        .reason-card:after {
            display: none;
        }
        .reason-card {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 45px 0;
            width: 33.333%;
            background: #eeeeee;
        }
        .reason-card__header {
            padding: 0 50px;
        }
        .reason-card:nth-of-type(1) {
            .reason-card__description {
                padding: 0 40px;
            }
        }
        .reason-card:nth-of-type(2) {
            .reason-card__description {
                padding: 0 60px;
            }
        }
        .reason-card:nth-of-type(3) {
            .reason-card__description {
                padding: 0 50px;
            }
        }
    }
}