.sights {
    max-width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    .form__header {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
    }
    @import "checkbox-field";
}

@media (min-width: $screen-md) {
    .sights {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 60px;
        border-bottom: none;
        .form__header {
            position: relative;
            flex-grow: 1;
            flex-basis: 100%;
            font-size: 21px;
            padding: 0 180px;
            margin-bottom: 40px;
        }
        .form__header:before,
        .form__header:after {
            position: absolute;
            top: 23px;
            content: "";
            display: block;
            width: 125px;
            height: 1px;
            background: #dbdbdb;
        }
        .form__header:before {
            left: 0;
        }
        .form__header:after {
            right: 0;
        }
        .checkbox-field {
            display: flex;
            justify-content: flex-end;
            width: 45%;
        }
        .checkbox-field:nth-of-type(2),
        .checkbox-field:nth-of-type(4) {
            justify-content: flex-start;
        }
    }
}