input:focus {
    outline: none;
}

.text-field {
    label {
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
        line-height: 26px;
        padding-left: 8%;
        cursor: pointer;
    }
    label:after {
        @include red-star();
    }
    label[for="patronym"]:after,
    label[for="tourist-one__patronym"]:after,
    label[for="tourist-two__patronym"]:after {
        display: none;
    }
}

.text-field {
    input {
        display: block;
        width: 91%;
        height: 27px;
        padding-top: 12px;
        padding-bottom: 15px;
        padding-left: 8%;
        background: $input;
        border: 2px solid $input;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: $text-color-dark;
    }
    input:hover {
        background: $input-hvr;
        border: 2px solid $input-hvr;
    }
    input:focus {
        background: $input-active;
        border: 2px solid $input-hvr;
    }
}

@media (min-width: $screen-md) {
    .text-field {
        width: 24%;
    }
    .text-field label {
        margin-top: 0;
    }
    .text-field input {
        max-width: 100%;
    }
    .tourist {
        .text-field {
            width: 32.5%;
        }
    }
}

@media (min-width: $screen-lg) {
    .text-field {
        width: 30%;
    }
    .tourist {
        .text-field {
            width: 29%;
        }
    }
}