.trip {
    max-width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    .form__header {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
    }
    @import "text-field";
    @import "numerator";
}