$text-color-dark: #000000;
$header-color-dark: #333333;
$text-color-light: #ffffff;
$background-color-light: #ffffff;
$background-color-dark: #81b3d2;
$field-background-color: #f2f2f2;
$field-border-color: #b8b8b8;
$nav-border-color: #678fa8;
$reason-card-border-color: #d6d6d6;
$font: "PT Sans", "Arial", sans-serif;