body {
  min-width: 320px;
  margin: 0 auto;
  font-family: $font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-color-dark;
  background: $background-color-light;
}
