.checkbox-field {
  &__input-checkbox,
  &__input-radio {
    display: none;
  }
  &__input-checkbox + label,
  &__input-radio + label {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: none;
    cursor: pointer;
  }
  &__input-checkbox + label:before,
  &__input-radio + label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 56px;
    height: 56px;
  }
  &--radio label:before {
    background: url("../img/sprite.png") no-repeat -15px -1589px;
  }
  &--radio label:hover:before {
    background: url("../img/sprite.png") no-repeat -15px -2019px;
  }
  &--radio label:active:before {
    background: url("../img/sprite.png") no-repeat -15px -1933px;
  }
  &__input-radio:checked + label:before {
    background: url("../img/sprite.png") no-repeat -15px -1675px;
  }
  &__input-radio:checked:hover + label:before {
    background: url("../img/sprite.png") no-repeat -15px -1847px;
  }
  &__input-radio:checked:active + label:before {
    background: url("../img/sprite.png") no-repeat -15px -1761px;
  }
  &__input-checkbox + label:before {
    background: url("../img/sprite.png") no-repeat -15px -673px;
  }
  &__input-checkbox + label:hover:before {
    background: url("../img/sprite.png") no-repeat -15px -1103px;
  }
  &__input-checkbox + label:active:before {
    background: url("../img/sprite.png") no-repeat -15px -1017px;
  }
  &__input-checkbox:checked + label:before {
    background: url("../img/sprite.png") no-repeat -15px -759px;
  }
  &__input-checkbox:checked:hover + label:before {
    background: url("../img/sprite.png") no-repeat -15px -931px;
  }
  &__input-checkbox:checked:active + label:before {
    background: url("../img/sprite.png") no-repeat -15px -845px;
  }
}
