.page-header__toggle--close:before {
  content: "";
  position: absolute;
  top: 6%;
  right: 6%;
  display: block;
  width: 23px;
  height: 22px;
  background: url('../img/page-header-toggle-close.png') no-repeat center;
  cursor: pointer;
}

.page-header__toggle--open:before {
  content: "";
  position: absolute;
  top: 30%;
  right: 6%;
  display: block;
  width: 23px;
  height: 22px;
  background: url('../img/page-header-toggle-open.png') no-repeat center;
  cursor: pointer;
}

@media (min-width: $screen-md) {
  .page-header__toggle--close:before,
  .page-header__toggle--open:before {
    display: none;
  }
}
