input:focus {
  outline: none;
}

::-webkit-input-placeholder {color:$text-color-dark;}
::-moz-placeholder          {color:$text-color-dark;}
:-moz-placeholder           {color:$text-color-dark;}
:-ms-input-placeholder      {color:$text-color-dark;}

.text-field {
  label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 26px;
    padding-left: 8%;
    cursor: pointer;
  }
  label:after {
    @include red-star();
  }
}

.text-field {
  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 58px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 7%;
    padding-right: 7%;
    background: $input;
    border: 4px solid $input;
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  input:hover {
    background: $input-hvr;
    border: 4px solid $input-hvr;
  }
  input:focus {
    background: $input-active;
    border: 4px solid $input-hvr;
  }
}

@media (min-width: $screen-md) {
  .text-field {
    width: 27%;
  }
  .text-field label {
    margin-bottom: 7px;
    margin-top: 0;
    padding-left: 12%;
  }
  .text-field input {
    max-width: 100%;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 11%;
    padding-right: 11%;
  }
  .tourist {
    .text-field {
      width: 32.5%;
      input {
        padding-left: 9%;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .text-field {
    width: 29%;
    label {
      padding-left: 8%;
    }
    input {
      padding-left: 7%;
      padding-right: 7%;
    }
  }
  .tourist {
    .text-field {
      width: 29%;
      input {
        padding-left: 8%;
      }
    }
  }
}
