.form {
    position: relative;
    max-width: 100%;
    .form-block {
        @include form-block-sm();
        .form-block__header-block {
            @include form-block__header-block-sm();
        }
        @import "text-field";
        @import "checkbox-field";
        @import "numerator";
        @import "tourist";
        @media (max-width: $screen-md) {
            .screen-md {
                display: none;
            }
        }
    }
    .form-block:nth-of-type(1) {
        .text-field:last-child {
            label:after {
                display: none;
            }
        }
    }
    @media (max-width: $screen-md) {  
        .form-block:nth-of-type(1) {
            .text-field {
                label {
                    margin-top: 17px;
                }
            }
        }
        .form-block:nth-of-type(2) {
            padding-bottom: 20px;
            .form-block__header-block {
                margin-bottom: 8px;
            }
            input[type="radio"] + label:before {
                margin-right: 18px;
            }
        }
        .form-block:nth-of-type(3) {
            .form-block__header-block {
                margin-bottom: 20px;
            }
            .numerator-field {
                label {
                    margin-top: 15px;
                    margin-bottom: 7px;
                }
            }
            .text-field {
                label {
                    margin-top: 15px;
                    margin-bottom: 7px;
                }
            }
        }
        .form-block:nth-of-type(4) {
            .form-block__header-block {
                margin-bottom: 22px;
            }
            .numerator-field {
                label {
                    margin-bottom: 7px;
                }
            }
            .tourist {
                padding-top: 18px;
                .tourist-number__header {
                    margin-bottom: 7px;
                    padding-left: 2px;
                }
                .text-field {
                    label {
                        margin-bottom: 7px;
                        padding-left: 9%;
                    }
                    input {
                        padding-top: 13px;
                        padding-bottom: 14px;
                        padding-left: 18px;
                    }
                }
                .text-field:not(:first-of-type) {
                    label {
                        margin-top: 15px;
                    }
                }
            }
            .tourist:last-of-type {
                padding-top: 11px;
            }
        }
        .form-block:nth-of-type(5) {
            padding-bottom: 15px;
            .form-block__header-block {
                margin-bottom: 2px;
            }
            input[type="checkbox"] + label {
                margin-bottom: 9px;
            }
        }
        .form-block:nth-of-type(6) {
            padding-bottom: 48px;
            border-bottom: none;
            .form-block__header-block {
                margin-bottom: 18px;
            }
        }
    }
    .form-block:nth-of-type(6) {
        position: relative;
        @import "gallery";
        @import "form-message";
    }
}

@import "button";

@media (min-width: $screen-md) {
    .form {
        padding: 0 7.8%;
        .form-block {
            @include form-block-md();
            .form-block__header-block {
                @include form-block__header-block-md();
                p {
                    @include header-md();
                }
            }
        }
        .form-block__header-block:after {
            @include header-md-line();
        }
        .screen-sm {
            display: none;
        }
        .form-button {
            width: 71%;
            margin: 0 auto;
        }
        .form-block:nth-of-type(1) {
            .form-block__header-block {
                margin-bottom: 23px;
            }
        }
        .form-block:nth-of-type(2) {
            margin-bottom: 52px;
            .form-block__header-block {
                margin-bottom: 25px;
            }
        }
        .form-block:nth-of-type(3) {
            .form-block__header-block {
                margin-bottom: 23px;
            }
        }
        .form-block:nth-of-type(4) {
            .form-block__header-block {
                margin-bottom: 23px;
            }
            .text-field {
                label {
                    padding-left: 10%;
                }
            }
        }
        .form-block:nth-of-type(5) {
            margin-bottom: 40px;
            .form-block__header-block {
                margin-bottom: 26px;
            }
            .checkbox-field {
                width: 50%;
            }
            input[type="checkbox"] + label {
                margin-bottom: 17px;
            }
            .form-block__header-block {
                order: -3;
                p {
                    display: block;
                    width: 360px;
                    padding: 0 20px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            .form-block__header-block:after {
                    top: -27px;   
                }
            .checkbox-field:nth-of-type(2) {
                order: -2;
                text-align: right;
                label {
                    margin-right: 38px;
                }
                input[type="checkbox"] + label:before {
                    margin-right: 17px;
                }
            }
            .checkbox-field:nth-of-type(3) {
                text-align: right;
                label {
                    margin-right: 58px;
                }
                input[type="checkbox"] + label:before {
                    margin-right: 17px;
                }
            }
            .checkbox-field:nth-of-type(4) {
                order: -1;
                label {
                    margin-left: 30px;
                }
                input[type="checkbox"] + label:before {
                    margin-right: 18px;
                }
            }
            .checkbox-field:nth-of-type(5) {
                label {
                    margin-left: 30px;
                }
                input[type="checkbox"] + label:before {
                    margin-right: 18px;
                }
            }
        }
        .form-block:nth-of-type(6) {
            margin-bottom: 58px;
            .form-block__header-block {
                margin-bottom: 56px;
            }
            display: block;
            .button-upload {
                width: 458px;
                margin: 0 auto;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .form {
        .screen-md {
            display: none;
        }
        .screen-sm {
            display: inline-block;
        }
        padding: 0 10%;
        .form-block:nth-of-type(2) {
            justify-content: center;
            .checkbox-field:nth-of-type(2) {
                margin-right: 100px;
            }
        }
        .form-block:nth-of-type(4) {
            .text-field {
                width: 31.5%;
                label {
                    padding-left: 8%;
                }
            }
            .text-field:nth-of-type(1) {
                width: 23.6%;
                label {
                    padding-left: 11%;
                }
            }
            .text-field:nth-of-type(2) {
                label {
                    padding-left: 9%;
                }
            }
        }
        .form-block:nth-of-type(5) {
            margin-bottom: 49px;
            .checkbox-field {
                width: 25%;
                label {
                    margin-right: 0;
                }
            }
            .checkbox-field:nth-of-type(2) {
                label {
                    margin-right: 46px;
                }
            }
            .checkbox-field:nth-of-type(3) {
                label {
                    margin-right: 28px;
                }
            }
            .checkbox-field:nth-of-type(4) {
                label {
                    margin-left: 24px;
                }
            }
            .checkbox-field:nth-of-type(5) {
                label {
                    margin-left: 40px;
                }
            }
        }
        .form-block:nth-of-type(6) {
            margin-bottom: 97px;
        }
        .form-button,
        .button-upload {
            width: 458px;
        }
    }
}