@media (max-width: $screen-md) {
    nav li:not(:nth-of-type(3)) {
        
        @keyframes bounce {
            0% {
                transform: translateY(200px);
                z-index: -5;
            }
            50% {
                transform: translateY(0);
            }
            100% {
                z-index: 1;
            }
        }
    }

    input:checked ~ nav li:not(:nth-of-type(3)) {
        
        animation: bounce 1s;
    }
}