.text {
    max-width: 100%;
    padding: 0 6.7%;
    margin-bottom: 37px;
    .post {
        padding-left: 0;
        padding-right: 0;
        .post__header {
            margin-bottom: 19px;
        }
    }
}

.post-description {
    margin-top: 32px;
    .post-description__header {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 26px;
    }
    .post-description__text {
        margin-bottom: 40px;
        line-height: 24px;
        a {
            color: #766357;
        }
    }
    .post-description__header:nth-of-type(2) {
        margin-top: 44px;
        margin-bottom: 31px;
    }
    .post-description__text:nth-of-type(2) {
        margin-bottom: 26px;
    }
    .post-description__list {
        margin-bottom: 25px;
        list-style: none;
    }
    .post-description__item {
        position: relative;
        margin-bottom: 3px;
        padding-left: 17px;
        font-weight: 700;
        color: #333333;
    }
    .post-description__item:before {
        position: absolute;
        top: 7px;
        left: 0;
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background: $background-color-dark;
    }
    .post-description__header:nth-of-type(3) {
        margin-top: 43px;
        margin-bottom: 31px;
    }
    p:last-of-type {
        margin-bottom: 24px;
    }
    .post-description__quote {
        position: relative;
        width: 90%;
        margin-bottom: 35px;
        padding-left: 18px;
        line-height: 24px;
        cite {
            text-transform: none;
            color: #766357;
        }
    }
    .post-description__quote:before {
        position: absolute;
        top: 7px;
        left: 0;
        content: "";
        display: block;
        width: 2px;
        height: 82px;
        background: $background-color-dark;
    }
}

@import "post-paginator";