$text-color-dark: #000000;
$header-color-dark: #333333;
$text-color-light: #ffffff;
$background-color-light: #ffffff;
$background-color-dark: #81b3d2;
$field-background-color: #f2f2f2;
$field-border-color: #b8b8b8;
$nav-border-color: #678fa8;
$reason-card-border-color: #d6d6d6;
$font: "PT Sans", "Arial", sans-serif;
$screen-md: 767px;
$screen-lg: 1000px;
$logo-color-main: #000000;
$logo-color-hvr: #81b3d2;
$logo-color-down: #b2b2b2;
$social-background: #81b3d2;
$social-background-hvr: #669ec0;
$social-background-down: #5496bd;
$blue-btn: #81b3d2;
$blue-btn-hvr: #669ec0;
$blue-btn-down: #5496bd;
$blue-btn-disabled: #e5e5e5;
$main-menu: #000000;
$main-menu-hvr: #81b3d2;
$main-menu-down: #b2b2b2;
$main-menu-active: #766357;
$main-menu-active-hvr: #604e43;
$main-menu-active-down: #d6d0cc;
$mobile-menu-item: #81b3d2;
$mobile-menu-item-hvr: #669ec0;
$mobile-menu-item-down: #5496bd;
$input: #f2f2f2;
$input-hvr: #e5e5e5;
$input-active: #ffffff;
$btn: #f2f2f2;
$btn-hvr: #e5e5e5;
$btn-down: #d5d5d5;
$grey-btn: #f2f2f2;
$grey-btn-hvr: #e5e5e5;
$grey-btn-down: #d5d5d5;